# API
VUE_APP_API_URL=https://api.dos-esposas.restaurant

# Tezos/Dapp Wallet Configs
VUE_APP_TEZOS_DAPP_NAME="Dos Esposas"
VUE_APP_TEZOS_NETWORK="mainnet"
VUE_APP_TEZOS_RPC_URL="https://mainnet-tezos.giganode.io"

# Tezos Contracts
VUE_APP_TEZOS_ORACLE=""
VUE_APP_TEZOS_NFT=""

# Misc.
VUE_APP_TESTNET_ENTROPY="secret"
